body, html{
    line-height: 1.8;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.header, .content, .sidebar, .footer{
    padding: 26px 34px;
    color: white;
    box-sizing: border-box;
}

.header{
    background-color: brown;
}

.content{
    background-color: goldenrod;
}

.sidebar{
    background-color: rgb(194, 82, 8);
    color: white;
}

.footer{
    background-color: brown;
    color: white;
}